/* 
#0C0032
#190061
#240090
#3500D3
#282828 */

body{
    background-color: #8d8d8d;
    color: white;
}

.card-horizontal{
    background-color: #5b00c3;
    display:inline-block;
    border: 2px solid black;
    padding: 0.5em 1.5em;
    margin: 1em;
    border-radius: 15%;
}

.delete-button{
    width: 100%;
}

#productList{
    padding-inline-start: 10px;
}

.error{
    color:red;
    font-size: large;
    display: none;
}

.section-container{
    background-color: #8c3ae9;
    padding: 1em 2em;
    margin: 2em 1em;
    border: 2px double #421b6e;
    border-radius: 10px;
    width: 800px;
}

.top-banner{
    background-color: #7700ff;
    padding: 1em 2em;
    margin: -20px -10px;
    margin-bottom: 10px;
}